<div>
    <h1>List of Stations</h1>
    <table id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DAOP</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for station in stations %}
            <tr>
                <td>{{ station.id }}</td>
                <td>{{ station.name }}</td>
                <td>{{ station.daop }}</td>
                <td>{{ station.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</div>